@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 222 49 99;
        --color-primary2: 156 43 76;
        --color-primarySelection: 255 120 159;
        --color-secondary: 248 249 249;
        --color-tertiary: 191 5 107;
        --color-light: 255 255 255;
        --color-dark: 0 0 0;
        --color-gray: 229 232 232;
    }
}

.job {
    @apply w-auto flex justify-between p-4 border-b-[1px] last:border-b-0 border-gray hover:bg-secondary  transition-all duration-300;
}

.job-text {
    @apply text-lg font-light cursor-default transition-all duration-300 group-hover:translate-x-3 group-hover:text-primary;
}

.job-btn {
    @apply bg-primary text-light p-1 rounded-md hover:scale-105 transition-all duration-300;
}

.new-job-form {
    @apply w-auto flex justify-between p-7 bg-primary
}