@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-primary: 56 149 255;
        --color-primary2: 179 182 183;
        --color-primarySelection: 62 154 255;
        --color-secondary: 248 249 249;
        --color-tertiary: 5 94 195;
        --color-light: 255 255 255;
        --color-dark: 0 0 0;
        --color-gray: 229 232 232;
        --color-primary-shaded: 215 234 255;
        --color-error: 255 44 44;
        --color-created: 84 222 82;
    }
}

* {
    @apply selection:text-light selection:bg-primarySelection;
}

.job {
    @apply w-auto flex justify-between flex-wrap gap-4 p-4 border-b-[1px] last:border-b-0 border-gray hover:bg-secondary  transition-all duration-300 hover:border-l-2 hover:border-l-primary;
}

.job-text {
    @apply text-lg font-light cursor-default transition-all duration-300 group-hover:translate-x-3 group-hover:text-primary;
}

.job-btn {
    @apply bg-primary text-light p-1 rounded-md hover:scale-105 transition-all duration-300 select-none text-xs md:text-lg;
}

.new-job-form {
    @apply w-auto flex flex-col gap-5 p-7 w-96
}